.l-review-tile-single {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  border-bottom: 2px solid #0000004b;
  cursor: default;
  margin-top: 20px;
}


.l-review-tile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.l-review-tile-reviewer-name-date {
  display: flex;
  color: #a3a3a3;
  height: fit-content;
}

.l-review-tile-summary {
  font-size: 20px;
  font-weight: bold;
}

.l-review-tile-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  margin-top: 5px;
  margin-bottom: 10px;
}

.l-review-tile-helpfulness {
  font-size: 14px;
  color: #686868;
}

.l-review-tile-yes {
  text-decoration: underline;
  cursor: pointer;
}

.l-review-tile-show-more {
  font-size: 15px;
  cursor: pointer;
  margin-top: 5px;
  text-decoration: underline;
}

.l-review-tile-response {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: rgba(104, 104, 104, 0.194);
  padding: 15px;
}

.l-review-tile-report {
  text-decoration: underline;
  cursor: pointer;
}

.l-review-tile-thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}