.l-review-list-main {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 80%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.l-review-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100%;
  height: auto;
  overflow: auto;
  overflow-x: hidden;
}

.l-review-list-container::-webkit-scrollbar {
  display: none;
}

.l-review-list-tile-main {
  display: flex;
  font-size: 18px;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.l-review-list-header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.l-review-list-more-btn {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #383838;
  cursor: pointer;
  font-weight: bold;
  color: #383838;
}

.l-review-list-more-btn:hover {
  background-color: #fafafa;
}