.g-images-container {
  margin: 0 auto;
  display:flex;
  flex-direction:row;
  width:100%;
  height:100%;
}
.g-images-select-container{
  display:flex;
  flex-direction: column;
  align-items:center;
  z-index: 1;
  padding-left: 8em;
  position: absolute;
  height:500px;
  overflow-y: hidden;

}
.g-images-select-expanded{
  display:flex;
  flex-direction: column;
  align-items:center;
  width: 20%;
  height:600px;
  overflow-y: hidden;
  border: 1px solid red;
}

.g-images-main {
  margin: 0 auto;
  background-position: center;
  background-repeat: space;
  object-fit: contain;
  width: 800px;
  height: 600px;
  cursor: zoom-in;
}
.g-image_select{
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width:50px;
  padding: 5px;
  height:50px;
}
.g-image_selected{
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  filter: brightness(180%);
  width:50px;
  padding: 5px;
  height:50px;
}
.g-images-main-container{
  padding-left: 5%;
  width: 915px;
  display: flex;
  align-content: flex-start;
  justify-content: start;
  align-items: center;
}
.g-image_select-expand{
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width:60px;
  padding: 5px;
  height:60px;
}
.g-image_selected-expand {
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  filter: brightness(180%);
  width:60px;
  padding: 5px;
  height:60px;
}
.g-left-button{
  z-index: 2;
  position:absolute;
}
.g-left-spacer {
  z-index: 1;
  width: 10%;
  position: absolute;
}