.g-images-container {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #1F2041;
    align-content: center;
    justify-content: center;
    min-height: 600px;
}
.g-images-select-container{
  display:flex;
  top:20%;
  left:0;
  flex-direction: column;
  align-items:center;
  z-index: 1;
  padding-left: 10px;
  position: absolute;
  height:500px;
  overflow-y: hidden;
}
.g-images-select-expanded{
  display:flex;
  align-items:center;
  overflow-y: hidden;
}


.g-images-main {
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
  width: 30vw;
  height: 100%;
  cursor: zoom-in;
  max-height:600px ;
  background-color: #1F2041;
}
.g-image_select{
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width:50px;
  padding: 5px;
  height:50px;
}
.g-image_selected{
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  filter: brightness(180%);
  width:50px;
  padding: 5px;
  height:50px;
}
.g-images-main-container{
  width: 915px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.g-image_select-expand{
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width:20px;
  padding: 5px;
  height:20px;
}
.g-image_selected-expand {
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  filter: brightness(180%);
  width:20px;
  padding: 5px;
  height:20px;
}
/* Added styling to button to rest on top of image. in order to utilize z index you need to set a position. */

.g-images-select-container-next-btn {
  position: absolute;
  top: 50%;
  left: 75%;
  font-size: 20px;
  z-index: 1;
}

.g-images-select-container-prev-btn {
  position: absolute;
  top: 50%;
  left: 15%;
  font-size: 20px;
  z-index: 1;
}


.g-images-select-container-next-btn:hover,
.g-images-select-container-prev-btn:hover {
  background-color: #000000af;
  scale: 1.05;
}
