.g-styleGallery{
  display: flex;
  flex-wrap: wrap;
  width:360px;
}
.g-style_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 44px;
  padding: 10px;
  height: 44px;
  margin: 5px;
}