#stars-main-container {
  display: flex;
  position: relative;
  width: 5.5em;
  height: 1.3em;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

#stars-outline-container{
  display: flex;
  position: absolute;
  z-index: 1;
  left: 0;
  align-items: center;
  color: #256EFF;
  overflow-y: hidden;
}

#stars-filled-container{
  display: flex;
  position: absolute;
  z-index: 2;
  left: 0;
  overflow: hidden;
  align-items: center;
  color: #256EFF;
}

#star-outline, #star-fill {
  width: 1em;
  height: 1.3em;
}