#stars-main-container {
  display: flex;
  position: relative;
  width: 134px;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

#stars-outline-container{
  display: inline-block;
}

#stars-filled-container{
  position: absolute;
  z-index: 2;
  left: 0;
  overflow-x: hidden;
}