body.show-modal {
  overflow-y: hidden;

}

.c-overlay, .c-compare-modal {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}
.c-compare-modal{
  z-index: 12;
  position:relative
}
.c-overlay {
  z-index: 11;
  position: fixed;
}

table {
  border-spacing: 5px;

}
.feature {
  width: 30px;
}
td, tr {
  border-bottom: 1px solid black;
}

th {
  font-size: 16px;
  font-weight: 900;
  text-align: center;
}
thead th:nth-child(1) {
  width: 40%
}
thead th:nth-child(2) {
  width: 20%
}
thead th:nth-child(3) {
  width: 40%
}

.c-compare-title {
  font-size: 12px;
  text-align: start;
}

.c-overlay {
  background: rgba(49,49,49,0.8);
}
.c-compare-feature-value, .c-compare-value {
  text-align: center;
  vertical-align: center;
  font-size: 14px;

}
.c-compare-value {
  color: #1F2041;
  font-weight: 500;
}

.c-compare-feature-value {
  color: gray;
  font-weight: 900;
}

 .c-modal-container {
  position: absolute;
  z-index: 11;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  width: 65vw;
  display: grid;
}
.c-close-compare {
  justify-self: end;
  text-align: end;
  margin: 10px 14px 0 0;
  position: absolute;
}
.c-compare-modal-table {
  height: 100%;
  width: 100%;
}

.close-modal {
  position: absolute;
}
