body.show-modal {
  overflow-y: hidden;
}

.c-compare-modal, .c-overlay {
  width: 100vw;
  height: 100vh;
  z-index: 3;
  overflow-x: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
table {
  border-spacing: 5px;
}
.feature {
  width: 30px;
}
th {
  font-size: 16px;
  font-weight: 900;
  text-align: center;
}
thead th:nth-child(1) {
  width: 40%
}
thead th:nth-child(2) {
  width: 20%
}
thead th:nth-child(3) {
  width: 40%
}

.c-compare-title {
  font-size: 12px;
  text-align: start;
}

.c-overlay {
  background: rgba(49,49,49,0.8);
}
.c-compare-feature-value, .c-compare-value {
  text-align: center;
  font-size: 14px;
}


.c-compare-modal-table {
  position: absolute;
  z-index: 3;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  width: 500px;
  /* min-width: 300px; */
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
