/* MAIN CONTAINER */
.c-related-outfits-main-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 80dvw;
  grid-template-areas:
  "related-title"
  "related"
  "outfit-title"
  "outfits";
}
.c-related-title {
  grid-area: related-title;
}
.c-outfit-title {
  grid-area: outfit-title;
}
.c-outfit-title, .c-related-title {
  display: grid;
  margin-top: 50px;
  margin-bottom: 20px;
  margin: 50px 0 20px 15px;
  width: 80dvw;
  align-self: start;
  font-size: 24px;

}

/* RELATED & OUTFITS CONTAINER */
.c-related-container, .c-outfits-container {
  display: grid;
  position: relative;
  align-self: center;
  justify-self: center;
}

.c-carousel-container {
  display: flex;
  position: relative;
  flex-direction: row;
}
.c-cards {
  display: flex;
  margin: 0 25px 0 45px;
}

.c-next, .c-prev {
  align-self: center;
  justify-self: center;
  transition: transform .1s ease-in-out;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #BB0A21;
  color: white;
}
.c-next:hover, .c-prev:hover {
  background-color: #be4b5a;
}
.c-next:hover {
  transform: translateX(2px);
}
.c-prev:hover {
  transform: translateX(-2px);
 }
.c-prev {
  margin-right: -25px;
}
.c-next {
  margin-left: -25px;
}
.c-card {
  grid-area: name;
  display: grid;
  height: 365px;
  width: 200px;
  margin-right: 20px;
  grid-template-columns: 200px;
  border-radius: 1%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 1.5px 1.5px 2px;
  transition: transform .1s ease-in-out;
  justify-content: left;
  align-items: flex-start;
  grid-template-areas:
  "img-container"
  "text-container";
  background-color: #F6F8FF;
}

.c-card-no-hover {
  grid-area: name;
  display: grid;
  height: 365px;
  width: 200px;
  margin-right: 20px;
  grid-template-columns: 200px;
  border-radius: 1%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 1.5px 1.5px 2px;
  /* transition: transform .1s ease-in-out; */
  justify-content: left;
  align-items: flex-start;
  grid-template-areas:
  "img-container"
  "text-container";
}
.c-card:hover {
  transform: scale(1.01) rotate(-0.2deg);
  box-shadow: 2px 2px 2px;
}
.c-card-img-container {
  width: 180px;
  height: 225px;
  padding: 10px 10px 0 10px;
  grid-area: img-container;
  display: grid;
  position: relative;
}
.c-card-action-compare, .c-card-action-delete {
  justify-self: end;
  margin: 10px 14px 0 0;
  position: absolute;
}
.c-card-pre-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  transform: scale(1.1);
  border-radius: 1%;
  padding: 0 2px 0 2px;
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
}
.c-card-pre-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  position: absolute;
  left: 0;
  bottom: 2px;
  margin: 0 0 2px 0;
}
.c-card-pre-img:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 2px;
}

.c-card-img {
  border-radius: 1%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-self: center;
  align-self: center;
}
.c-card-img:hover {
  opacity: 0.9;
}
.c-card-text-container {
  grid-area: text-container;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 115px;
  margin-left: 10px;
  align-self: end;
  padding-bottom: 10px;
}

.c-card-name, .c-card-price, .c-card-star {
  margin: 5px 0 0 0;
}
.c-card-cat {
  margin: 10px 0 0 0;
  font-size: 13px;
  color: gray;
}

.c-card-name {
  font-size: 16px;
  font-weight: 900;
}
.c-card-name:hover {
  text-decoration: underline;
}
.c-card-price {
  font-size: 11px;
}

.c-card-action-add {
  align-self: center;
  justify-self: center;
  border-radius: 5%;
}
