.l-navbar-container {
  width: 100dvw;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.l-navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80dvw;
  height: 120px;
  background-color: #1F2041;
  color: #F6F8FF;
  box-shadow: 0px 1px 2px #3838388a;
  border-bottom: 10px solid #ffffff;
}

.l-navbar-icon {
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 5px 5px #ffffff;
  margin-left: 50px;
  border-radius: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.l-navbar-search-container {
  display: flex;
  width: 200px;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.l-navbar-search-icon {
  color: #F6F8FF;
  height: 30px;
  width: auto;
}

.l-navbar-search-container input {
  height: 30px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #F6F8FF;
  background-color: #1F2041;
  color: #F6F8FF;
}
.l-navbar-search-container input:focus {
  outline: none;
}