.k-answer-main-block {
  width: 65%;
  margin-left: 2px;
}

.k-answer-details-block {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
  color: #686868;
}

.k-answer-user,
.k-answer-date,
.k-answer-helpful,
.k-answer-yes-click,
.k-answer-report {
  margin: 0 5px 3px 0px;
}

.k-answer-yes-click,
.k-answer-report {
  text-decoration: underline;
  cursor: pointer;
}

.k-load-more-answers,
.k-collapse-answers {
  font-size: 14px;
  color: #686868;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 20px;
}

.k-answer-report {
  margin-left: 5px;
}
