.k-questions-list {
  display: flex;
  flex-direction: column;
  width: 65%;
  min-height: 100%;
  height: auto;
  overflow: auto;
  overflow-x: hidden;
}

.k-question-block {
  margin-top: 20px;
 display: flex;
 justify-content: space-between;
 width: 100%;
 align-items: flex-start;
 margin-bottom: 20px;
}

.k-question-body {
  font-weight: bolder;
  font-size: large;
}

.k-question-helpful,
.k-question-yes-click,
.k-add-answer {
  display: flex;
  justify-content: space-between;
}

.k-question-helpful {
  font-size: 14px;
  margin-right: 5px;
  color: #686868
}

.k-question-yes-click {
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.k-load-more-answers {
  font-size: 14px;
  color: #686868;
  cursor: pointer;
}

.k-collapse-answers {
  font-size: 14px;
  color: #686868;
  cursor: pointer;
}

.k-add-answer {
  font-size: 14px;
  margin-left: 5px;
  color: #686868;
  text-decoration: underline;
  cursor: pointer;
}
