.k-questions-answers-main-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 120vw;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

.k-q-a-title {
  display: flex;
  align-self: flex-start;
  margin-left: 17%;
  font-weight: bold;
  font-size:x-large;
  margin-top: 15px;
  margin-bottom: 10px;
}

.k-btns-container {
  display: flex;
  align-self: flex-start;
  margin-left: 17%;
  /* margin-top: 0px; */
  gap: 10px;
}

.k-more-answered-questions {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #383838;
  cursor: pointer;
  font-weight: bold;
  color: #383838;
}

.k-add-a-question {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #383838;
  cursor: pointer;
  font-weight: bold;
  color: #383838;
}