.k-questions-answers-search {
  position: relative;
  display: flex;
  align-self: flex-start;
  margin-left: 17%;
  height: 110px;
  width: 100vw;
  margin-bottom: 15px;
}

.k-mag-glass-search {
  position: absolute;
  top: 50%;
  left: 96%;
  transform: translateY(-50%);
}

.k-search-input {
  height: 5vh;
  width: calc(81.6vw - 30px);
}

.k-clear-search-btn:hover {
  background-color: #eceef5;
}

.k-clear-search-btn {
  position: absolute;
  padding: 3px 3px 0px 3px;
  height: 2vh;
  margin-top: 60px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #383838;
  cursor: pointer;
  font-weight: bold;
  font-size: small;
  color: #383838;
}

form {
  position: relative;
}
