.k-questions-answers-search {
  position: relative;
  display: flex;
  align-self: flex-start;
  margin-left: 17%;
  height: 110px;
  width: 100vw;
  margin-bottom: 15px;
}

.k-mag-glass-search {
  position: absolute;
  top: 33%;
  left: 96%;
  transform: translateY(-50%);
}

.k-search-input {
  height: 5vh;
  width: calc(81.6vw - 30px);
}

.k-clear-search-btn {
  height: 2.5vh;
  margin-top: 5px;
}

form {
  position: relative;
}
